ul{
	background-color: #003153;
	height: 100px;
    margin: 0px;
    list-style-type: none;
}


.logo{
	float: left;
}

.menu{
	float: right;
 padding: 40px 10px 10px 30px;
}

a:hover{
	background-color: black;
	 color: white;
	 text-decoration: underline;
	}

a{
	 font-size: 20px;
	   color:lightgrey;
	    padding:15px;
	     border-radius: 10px;
	 }

.dropdown{
	position: relative;
}

.dropdownContent{
	display: none;
	 background-color:#003153;
	 height: 0px;
	 min-width: 160px;
	 border-radius: 0px;
	}


.dropdown:hover .dropdownContent{
	display: block;
	position: absolute;
	top: 80px;
	left: 10px;
}


.submenu{
	  display: block;
	  text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid lightgrey; 
    border-radius: 0px;
}


body{
	box-sizing: border-box; 
	font-family: balsamiq Sans;
	letter-spacing: 0px;
	margin: 0px;
}

.container{
	background-color:#003153;
	color: white;
	padding: 100px 30px 100px 30px;
}

.container>h1{
	text-align:center;
	font-size: 300%;
}

.flexContainer{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card{
	flex: 0 0 30%;
	margin: 10px;
	border: 20px solid #f7f7f7;
	border-radius: 	10px;
}

.card > div{
	background-color:black;
	opacity: 0.8;
	text-align: center;
	padding: 20px 5px 20px 5px;
	margin-top: -5px; 
	font-size:22px;
    font-weight: 700;
 }


 @media (max-width: 800px) {
  .flexContainer {
    flex-direction: column;
  }

@media (max-width: 576px) {

  .card>img{width: 100%;}
} 

}   
