.nav{
  width: 100px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: -150px;
  transition: left 0.3s;

}

.nav:hover{
  left: -4px;
}

#Home{
  background-color: grey;
  color: white;
  top: 220px;
}

#About{
  background-color: red;
  color: white;
  top: 275px;
}

#Blog{
  background-color: black;
  color: white;
  top: 331px;
}

#Contact{
  background-color: green;
  color: white;
  top: 387px;
}
#image{
  position: absolute;
  height: 326px;
  display: block;
}

#overlay{
  height: 326px;
  width: 326px;
  position: relative;
  left: 0px;
  top: 0px;
}

#overlay:hover{
  background-color: grey;
  opacity: 61%;
}

#total{
  width: 326px;
  height: 326px;
  margin: auto;
}

#text{
  text-align: center;
  position: relative;
  font-size: 50px;
    top: -70px;
  color: transparent;
}

#text:hover{
  color: red;
}