*{box-sizing: border-box;}

body{margin: 0px;font-family: "Helvetica Neue", Helvetica;}

.section1{
	display:flex; 
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	align-items: center;
	background-image: url('https://media.cntraveler.com/photos/5697f66978d099fc122482c6/master/w_1600%2Cc_limit/horseshoe-bay-bermuda-getty.jpg');
	height: 800px;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.sectionTxt{
	text-align: center;
}

.title{
	color: black;
	 font-size: 50px;
	 font-weight: 600;
	 line-height: 40px;
	}
.subtitle{
	width: 500px;
	border-radius: 10px;
	border: 2px solid white;
	color: white; 
	background-color: cadetblue;
	font-size: 20px;
}
.moreBtn{
	border-radius: 10px;
	border: 2px solid white;
	color:white;
	background-color: skyblue;
	font-size:20px;
	text-decoration:none;
	padding:10px;
}

.section2{
	background-color:black;
	color: white; 
	padding: 20px;
	 text-align: justify;
	  font-size: 17px;
	   line-height: 25px;
	 }

.section3{
	background-color:white;
	color: black; 
	padding: 20px;
	 text-align: justify;
	  font-size: 17px;
	   line-height: 25px;
	   margin-bottom: 0px;
	 }

.section4{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h5{
	font-size: 20px;
	background-color: black;
	color: white;
  margin-bottom: 0px;
}

.part1,.part2,.part3{
	flex: 0 1 33.33%;
	padding: 20px;
	text-align:justify;
	font-size: 17px;
	line-height: 25px;
	 }

.part1,.part3{
	background-color:#926239;
	color: white;
	}
.part2{
	background-color:#926239;
	color: white;
}

@media screen and (max-width: 800px) 
{
  .section4 
  {
    flex-direction: row;
  }
}